<template>
  <section>
    <button @click="acelerar">Acelerar</button>
  </section>
</template>

<script>
import {mapMutations} from 'vuex' 
export default {
  /*data() {
    return {
      aceleracion: 10
    }
  },*/
  /*methods: {
    acelerar() {
      this.$emit('acelerarCoche', this.aceleracion);
    }
  },*/
  methods: mapMutations(['acelerar']),
  
}
</script>

<style>

</style>
