<template>
  <section>
    <button @click="frenar">Frenar</button>
  </section>
</template>

<script>
import {mapMutations} from 'vuex'
export default {
  /*data() {
    return {
      desaceleracion: 10
    }
  },*/
  /*methods: {
    frenar() {
      this.$emit('frenarCoche', this.desaceleracion);
    }
  }*/
  methods : mapMutations(['frenar'])
}
</script>

<style>

</style>
