<template>
  <section>
    <h2>Velocidad:</h2>
    <p> {{ this.$store.state.velocidad + " km/h" }} </p>
  </section>
</template>

<script>

export default {
  //props: ['velocidad'],
}
  
</script>

<style>

</style>
