<template>
  <div id="app">
    <h1>{{ title }}</h1>
    <!--<velocimetro :velocidad="velocidad"></velocimetro>-->
    <velocimetro></velocimetro>
    <!--<acelerador  @acelerarCoche="acelerar"></acelerador>
    <freno @frenarCoche="frenar"></freno>-->
    <acelerador/>
    <freno/>
  </div>
</template>

<script>
import Velocimetro from './components/Velocimetro.vue';
import Acelerador from './components/Acelerador.vue';
import Freno from './components/Freno.vue';
export default {
  name: 'app',
  data () {
    return {
      title: 'App Car',
      velocidad: 0
    }
  },
  components: {
    Velocimetro,
    Acelerador,
    Freno,
  },
  /*methods: {
    acelerar(acelacion) {
      this.$store.state.velocidad += acelacion
    },
    frenar(desacerelacion) {
      if(this.$store.state.velocidad>0)
        this.$store.state.velocidad -= desacerelacion
    }
  }*/
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
